.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #e8ebf1;
  min-height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(155, 45, 45);
}

:root {
  --window-height-account: calc(100vh - 74px);
}

.body {
  min-height: var(--window-height-account);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#LBButton {
  align-items: left;
  justify-content: left;
  z-index: 10000;
  background-color: rgb(6, 233, 153);
}

#MPDD {
  align-items: left;
  position: left;
  justify-content: left;
  z-index: 10000;
}

#Mtitle {
  display: flex;
  justify-content: center flex;
  color: rgb(14, 6, 11);
  font-weight: bolder;
  text-shadow: 3px 3px 3px #61dafb;
  font-size: 7vh;
  margin-top: 19vh;
  text-shadow: black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

#bitty {
  background-size: cover;
}

footer {
  display: flex;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 8vh;
  background-color: rgba(33, 94, 140, 0.65);
  color: white;
  font-weight: bolder;
  font-size: 18px;
  justify-content: end;
  z-index: -1;
}

#footertext {
  margin-top: 4px;
  justify-content: flex;
}
