body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown {
  position: relative;
}

.menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
}

.menu > li {
  margin: 0;

  background-color: rgb(187, 96, 96);
}

.menu > li:hover {
  background-color: rgb(86, 13, 13);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

#MPDD2 {
  background-color: aqua;
}

#BBButton {
  size: 200vh;
  background-color: rgb(97, 111, 216);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 50px;
  border-radius: 30px;
}

.compdiv {
  margin-bottom: 40px;
}

#Battlebox {
  background-color: beige;
  text-align: center;
  color: grey;
}

#P1HP {
  justify-content: left;
  text-align: left;
  margin-left: 20vh;
}
#P2HP {
  justify-content: right;
  text-align: right;
  margin-right: 20vh;
}

#P1S {
  justify-content: left;
  text-align: left;
}

#P2S {
  justify-content: right;
  text-align: right;
}

.PlayerOneSprite {
  border: black 10px solid;
  height: 25vh;
}

.PlayerTwoSprite {
  border: black 10px solid;
  height: 25vh;
}

.BPSprites {
  margin-top: 3vh;
}

#DBMD {
  margin-top: 3vh;
}

#tabletime {
  background-color: rgb(151, 169, 235);
  margin-top: 20vh;
  font-weight: bolder;
  font-size: 3vh;
  height: 20vh;
  width: 100vh;
}

/* .Player {

} */

.selectionPage {
  display: flex;
  justify-content: space-around;
  margin-top: 25vh;
}

.battlePage {
  /* display: flex; */
  /* justify-content: space-around; */
  margin-top: 5vh;
}

.flexcontent {
  display: flex;
  justify-content: center;
}

.flexitems {
  display: flex;
  align-items: center;
}

.flexfull {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexaround {
  display: flex;
  justify-content: space-around;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px); /* Adjust as needed */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
