.background-container {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  background-size: 6%;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -100;
}

.background-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: 62%;
  background-image: url("./Assets/bgart.png");
  background-repeat: repeat;
  animation: scroll 2000s linear infinite;
  opacity: 0.15;
  z-index: -20;
  margin-bottom: 200px;
}
@keyframes scroll {
  0% {
    background-position: -3000px 3000px;
  }
  12.5% {
    background-position: 0px -3000px;
  }
  25% {
    background-position: -3000px 0px;
  }
  37.5% {
    background-position: 0px 3000px;
  }
  50% {
    background-position: -3000px 3000px;
  }
  62.5% {
    background-position: 0px -3000px;
  }
  75% {
    background-position: -3000px 0px;
  }
  87.5% {
    background-position: 0px 3000px;
  }
  100% {
    background-position: -3000px 3000px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}



.dropdown-menu li a:focus {
  background-color: lightgray;
}

.menu > li {
  margin: 0;
  bottom: calc(100% + 10px);
  background-color: rgba(43, 96, 171, 0.55);
  color: rgb(6, 0, 0);
}

.menu > li:hover {
  background-color: rgb(86, 13, 13);
  color: #e5e5f0;
  transform: scale(1.4);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  cursor: pointer;
}

#MPDD2 {
  background-color: aqua;
}

#SPButt {
  background-color: rgba(0, 1, 8, 0.85);
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#SPButt:hover {
  background-color: rgba(59, 59, 62, 0.85);
  transform: scale(1.1);
}

#SPsearchbar {
  background-color: rgba(0, 1, 8, 0.85);
  border: none;
  color: rgb(255, 255, 255);
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
  margin: 7px;
}

#BBButton {
  background-color: rgb(38, 55, 181, 0.85);
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 40px;
  margin-top: 2px;
  border-radius: 40px;
  border: 5px rgb(249, 247, 247) double;
}

#BBButton:hover {
  background-color: rgb(122, 129, 181);
  transform: scale(1.1);
}

#ROButt {
  background-color: rgb(69, 68, 70, 0.85);
  border: 5px rgb(253, 251, 251) double;
  color: rgb(240, 234, 234);
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 30px;
}

#ROButt:hover {
  background-color: rgb(140, 138, 141);
  transform: scale(1.1);
}

#MovesSub {
  color: black;
}

#VLButt {
  background-color: rgb(176, 184, 62, 0.85);
  color: black;
  padding: 15px 10px;
  margin-bottom: 15px;
  margin-top: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
  font-weight: bolder;
}

#VLButt:hover {
  background-color: rgb(213, 220, 125);
  transform: scale(1.1);
}

#CDButt {
  justify-content: flex-end;
  align-items: end;
  font-weight: bolder;
  font-size: 3vh;
  background-color: #4197ed;
  color: rgb(248, 248, 252);
  border-radius: 30px;
  border: 14px rgb(187, 205, 248) double;
  margin: 25px;
  text-shadow: 5px 5px 5px#4447a3;
}

#CDButt:hover {
  background-color: rgb(161, 197, 220);
  transform: scale(1.1);
}

#EAButt {
  background-color: rgba(184, 62, 117, 0.85);
  color: black;
  padding: 15px 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 42px;
  width: 500px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#EAButt:hover {
  background-color: rgb(226, 158, 206);
  transform: scale(1.1);
}

#EASpace {
  display: flex;
  justify-content: center;
}

#MovePoolDrop {
  font-size: 20px;
  background-color: #01067c;
  opacity: 0.75;
  color: #e1e0eb;
  border-radius: 25px;
  height: 8vh;
  font-weight: bolder;
  text-shadow: 5px 5px 5px#030018;
}

#MovePoolDrop:hover {
  background-color: #2a2fb8;
  transform: scale(1.2);
}

#RemoveButt {
  font-size: 13px;
  background-color: #373972;
  opacity: 0.75;
  color: #e5e4ee;
  border-radius: 25px;
  text-shadow: 4px 4px 4px rgb(13, 3, 27);
  font-weight: bolder;
}

#ConfirmMovesButton {
  background-color: rgba(37, 4, 75, 0.85);
  color: rgb(248, 237, 237);
  padding: 15px 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
}

#ConfirmMovesButton:hover {
  background-color: rgba(81, 34, 135, 0.85);
  transform: scale(1.2);
}

.compdiv {
  margin-bottom: 40px;
}

#MovesTitle {
  padding-top: 0;
  font-size: 30px;
  color: rgb(238, 81, 14);
}

#OpMoveList {
  font-weight: bolder;
  font-size: 18px;
}

#trophy {
  max-width: 200px;
  justify-content: center;
  display: flex;
  
  
}

#PauseButton {
  background-color: rgba(37, 4, 75, 0.85);
  color: rgb(248, 237, 237);
  font-weight: bold;
  padding: 10px 10px;
  max-height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
}

#PauseButton:hover {
  background-color: rgba(73, 45, 105, 0.85);
  transform: scale(1.2);
}

#Battlebox {
  text-align: center;
  justify-content: start;
  color: rgb(3, 0, 0);
  font-weight: 900;
  text-shadow: 4px 4px 4px#b220b7;
  min-height: 12vh;
  max-height: 27vh;
  z-index: 80000;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#TD {
  font-size: 3vh;
  text-align: center;
  justify-content: start;
  color: rgb(3, 0, 0);
  font-weight: 900;
  text-shadow: 4px 4px 4px#b220b7;
  max-height: 27vh;
  z-index: 80000;
  font-family: Georgia, "Times New Roman", Times, serif;
}



#P1S {
  justify-content: left;
  text-align: left;
}

.image-container {
  width: 300px;
  height: 300px;
  /* height: 100px; Set the width of the container */
  overflow: hidden; /* Hide overflow */
}

#P2S {
  justify-content: right;
  text-align: right;
}

#OpponentTitle {
  font-size: larger;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#PlayerTitle {
  color: #01067c;
}


#DBMD {
  margin-top: 3vh;
}

#tabletime {
  background: linear-gradient(
    -225deg,
    #4e58ed 0,
    #7f82e0 29%,
    #bab5ec 67%,
    #e5e5f0 100%
  );
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  font-weight: bolder;
  text-shadow: 3px 3px 3px #61dafb;
  font-size: 4vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 35vh;
  width: 70%;
  opacity: 0.75;
  border: 18px rgb(78, 37, 102) double;
  justify-content: space-around center;
}


#homePage {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

#moves-container {
  background-color: #0d14f2;
  border-radius: 30px;
  font-size: larger;
  text-shadow: 4px 4px 4px rgb(12, 2, 25);
  color: #f0f0fc;
  font-weight: bolder;
  height: 35px;
  margin: 2px;
}

.battlePage {
  display: flex;
  justify-content: space-around;
}

#Welcome {
  display: flex;
  justify-content: center;
  color: #01067c;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
  text-shadow: 3px 3px 3px #1a1e1f;
}

#Welcome2 {
  display: flex;
  justify-content: center;
  color: #4447a3;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
  text-shadow: 3px 3px 3px #1a1e1f;
}

#Welcome3 {
  display: flex;
  justify-content: center;
  color: #8b8ee1;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
  text-shadow: 3px 3px 3px #1a1e1f;
}
#Welcome4 {
  display: flex;
  justify-content: center;
  color: #696a90;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-shadow: 4px 4px 4px #1a1e1f;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 40000; 
  pointer-events: none; 
}

#myVideo {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 50000;
}

#myVideo2 {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 50000;
  opacity: 0.3;
  object-fit: cover;
}

.flexcontent {
  display: flex;
  justify-content: center;
}

.flexitems {
  display: flex;
  align-items: center;
}

.flexfull {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexaround {
  display: flex;
  justify-content: space-around;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
}

/* .dropdown {
  position: relative;
} */

.dropdown-menu {
  position: relative;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

.modal {
  display: flex;
  justify-content: center;
  opacity: 1;
  position: relative;
  top: 0;
  left: 0;
  color: #01067c;
  width: 90%;
  height: 90%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  margin: 50px;
  opacity: 1;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #01067c;
  font-weight: bolder;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
}

.close {
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.flipped-horizontal {
  transform: scaleX(-1);
}
