.background-container {
  /* Set the background image */
  /* background-image: url("./Assets/bgart.png"); */
  /* margin-bottom: 200px; */
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.9)
  );
  background-size: 6%;
  background-repeat: repeat;
  background-position: center center;
  background-attachment: fixed;
  z-index: -100;
}

.background-container::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  background-size: 62%;
  background-image: url("./Assets/bgart.png");
  background-repeat: repeat;
  animation: scroll 2000s linear infinite;
  opacity: 0.1;
  z-index: -20;
  margin-bottom: 200px;
}
@keyframes scroll {
  0% {
    background-position: -3000px 3000px;
  }
  12.5% {
    background-position: 0px -3000px;
  }
  25% {
    background-position: -3000px 0px;
  }
  37.5% {
    background-position: 0px 3000px;
  }
  50% {
    background-position: -3000px 3000px;
  }
  62.5% {
    background-position: 0px -3000px;
  }
  75% {
    background-position: -3000px 0px;
  }
  87.5% {
    background-position: 0px 3000px;
  }
  100% {
    background-position: -3000px 3000px;
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-image: url("./Assets/bgart.png");
  opacity: 0.4;
  background-repeat: repeat; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.dropdown-menu {
  position: relative;

  max-height: 200px; /* Set the maximum height */
  overflow-y: auto; /* Enable vertical scrollbar if content exceeds the maximum height */
}

/* .menu {
  position: absolute;

  list-style-type: none;
  margin: 5px 0;
  padding: 0;

  border: 1px solid grey;
  width: 150px;
} */

.menu > li {
  margin: 0;
  bottom: calc(100% + 10px);
  background-color: rgba(43, 96, 171, 0.55);
  color: rgb(6, 0, 0);
}

.menu > li:hover {
  background-color: rgb(86, 13, 13);
  color: #e5e5f0;
  transform: scale(1.2);
}

.menu > li > button {
  width: 100%;
  height: 100%;
  text-align: left;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  /* font: inherit; */
  cursor: pointer;
}

#MPDD2 {
  background-color: aqua;
}

#SPButt {
  background-color: rgba(0, 1, 8, 0.85);
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#SPButt:hover {
  background-color: rgba(59, 59, 62, 0.85);
  transform: scale(1.1);
}

#BBButton {
  background-color: rgb(38, 55, 181, 0.85);
  border: none;
  color: white;
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#BBButton:hover {
  background-color: rgb(122, 129, 181);
  transform: scale(1.1);
}

#ROButt {
  background-color: rgb(69, 68, 70, 0.85);
  border: 5px rgb(253, 251, 251) double;
  color: rgb(240, 234, 234);
  padding: 15px 12px;
  text-align: center;
  text-decoration: none;
  /* display: inline-block; */
  font-size: 22px;
  margin-top: 10px;
  border-radius: 30px;
}

#ROButt:hover {
  background-color: rgb(140, 138, 141);
  transform: scale(1.1);
}

#MovesSub {
  color: black;
}

#VLButt {
  background-color: rgb(176, 184, 62, 0.85);
  color: black;
  padding: 15px 10px;
  margin-bottom: 60%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#VLButt:hover {
  background-color: rgb(213, 220, 125);
  transform: scale(1.1);
}

#EAButt {
  background-color: rgba(184, 62, 117, 0.85);
  color: black;
  padding: 15px 10px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 42px;
  width: 500px;
  border-radius: 30px;
  border: 5px rgb(249, 247, 247) double;
}

#EAButt:hover {
  background-color: rgb(226, 158, 206);
  transform: scale(1.1);
}

#EASpace {
  display: flex;
  justify-content: center;
}

#MovePoolDrop {
  font-size: 20px;
  background-color: #01067c;
  opacity: 0.75;
  color: #bab5ec;
  border-radius: 25px;
}

#MovePoolDrop:hover {
  background-color: #2a2fb8;
  transform: scale(1.2);
}

#RemoveButt {
  font-size: 10px;
  background-color: #373972;
  opacity: 0.75;
  color: #bab5ec;
  border-radius: 25px;
}

#ConfirmMovesButton {
  background-color: rgba(37, 4, 75, 0.85);
  color: rgb(248, 237, 237);
  padding: 15px 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
}

#ConfirmMovesButton:hover {
  background-color: rgba(81, 34, 135, 0.85);
  transform: scale(1.2);
}

.compdiv {
  margin-bottom: 40px;
}

#MovesTitle {
  padding-top: 0;
  font-size: 30px;
  color: blue;
}

#OpMoveList {
  font-weight: bolder;
  font-size: 18px;
}

#PauseButton {
  background-color: rgba(37, 4, 75, 0.85);
  color: rgb(248, 237, 237);
  padding: 15px 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  border-radius: 30px;
}

#Battlebox {
  background-color: beige;
  text-align: center;
  color: grey;
}

/* #P1HP {
  justify-content: left;
  text-align: left;
  margin-left: 20vh;
}
#P2HP {
  justify-content: right;
  text-align: right;
  margin-right: 20vh;
} */

#P1S {
  justify-content: left;
  text-align: left;
}

#P2S {
  justify-content: right;
  text-align: right;
}

#OpponentTitle {
  font-size: larger;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#PlayerTitle {
  color: #01067c;
}

.PlayerOneSprite {
  border: black 10px solid;
  height: 25vh;
  width: 30%;
}

.PlayerTwoSprite {
  border: black 10px solid;
  height: 25vh;
  width: 30%;
}

.BPSprites {
  margin-top: 3vh;
}

#DBMD {
  margin-top: 3vh;
}

#tabletime {
  background: linear-gradient(
    -225deg,
    #4e58ed 0,
    #7f82e0 29%,
    #bab5ec 67%,
    #e5e5f0 100%
  );
  margin-top: 7.5vh;
  margin-bottom: 7.5vh;
  font-weight: bolder;
  text-shadow: 3px 3px 3px #61dafb;
  font-size: 4vh;
  font-family: Georgia, "Times New Roman", Times, serif;
  height: 35vh;
  width: 70%;
  opacity: 0.75;
  border: 18px rgb(78, 37, 102) double;
  justify-content: space-around center;
}

/* .Player {

} */

#homePage {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

.battlePage {
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}

#Welcome {
  display: flex;
  justify-content: center;
  color: #01067c;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
}

#Welcome2 {
  display: flex;
  justify-content: center;
  color: #4447a3;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
}

#Welcome3 {
  display: flex;
  justify-content: center;
  color: #8b8ee1;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
}
#Welcome4 {
  display: flex;
  justify-content: center;
  color: #696a90;
  font-size: 10vh;
  font-weight: bolder;
  font-family: Georgia, "Times New Roman", Times, serif;
  box-shadow: #bab5ec;
}

#video-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  z-index: 25000;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 30000;
}

.flexcontent {
  display: flex;
  justify-content: center;
}

.flexitems {
  display: flex;
  align-items: center;
}

.flexfull {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexaround {
  display: flex;
  justify-content: space-around;
}

.flexbetween {
  display: flex;
  justify-content: space-between;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: calc(100% + 5px);
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 0;
  list-style: none;
}

.dropdown-menu li {
  padding: 5px;
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: #f0f0f0;
}

.dropdown-toggle {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}

/* body {
  background: black;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* Modal container */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  color: #01067c;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

/* Modal content */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  color: #01067c;
}

/* Close button */
.close {
  position: relative;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
