#thenav {
  position: absolute;
  z-index: 20000;
  background: linear-gradient(
    -225deg,
    #060937 0,
    #6266c3 29%,
    #e2eafb 67%,
    #accfef 100%
  );
  height: 110px;
  width: 100%;
  text-decoration: none;
  color: whitesmoke;
  opacity: 0.75;
}

#RButtdiv {
  justify-content: flex-end;
  align-items: end;
}
#RButt {
  justify-content: flex-end;
  align-items: end;
  font-weight: bolder;
  font-size: 3vh;
  background-color: #4197ed;
  color: rgb(248, 248, 252);
  border-radius: 30px;
  border: 14px rgb(187, 205, 248) double;
  margin: 25px;
  text-shadow: 5px 5px 5px#4447a3;
}

#RButt:hover {
  background-color: rgb(161, 197, 220);
  transform: scale(1.1);
}
/* #uslogo {
  font-weight: bolder;
  font-size: 3vh;
  height: 5vh;
  size: 20px;
  opacity: 0.65;
} */

#logous {
  /* font-weight: bolder; */
  font-size: 20vh;
  height: 11vh;
  /* size: 20px; */
  opacity: 0.65;
}

#RightNav {
  display: flex;
  flex-direction: column;
}

.navitem {
  font-weight: bold;
  font-size: 2vh;
  display: flex;
  justify-content: left;
  color: beige;
  text-decoration: none;
}

a:link {
  color: rgb(125, 125, 222);
  margin-top: 7px;
}

a:visited {
  color: rgb(246, 238, 246);
}

a:hover {
  color: rgb(188, 32, 115);
  transform: scale(1.1);
}

a:active {
  color: red;
}

a:link,
a:visited {
  text-decoration: none;
}

/* #VsBanner {
  font-size: 35px;
  color: rgb(211, 211, 227);
  border: 10px rgb(169, 174, 99) double;

  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
} */

/* .darkBG {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
} */
\ .centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal {
  width: 450px;
  height: 870px;
  background: rgb(47, 7, 7);
  color: rgb(148, 10, 10);
  z-index: 10;
  border-radius: 16px;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
  height: 50px;
  background: white;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.heading {
  margin: 0;
  padding: 10px;
  color: #b7c0c8;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

.modalContent {
  padding: 10px;
  font-size: 18px;
  color: #2c3e50;
  text-align: center;
  background-color: #2c3e50;
}

.modalActions {
  position: absolute;
  bottom: 2px;
  margin-bottom: 10px;
  width: 100%;
}

.actionsContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.closeBtn {
  cursor: pointer;
  font-weight: 500;
  padding: 4px 8px;
  border-radius: 8px;
  border: none;
  font-size: 18px;
  color: #2c3e50;
  background: white;
  transition: all 0.25s ease;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
  position: absolute;
  right: 0;
  top: 0;
  align-self: flex-end;
  margin-top: -7px;
  margin-right: -7px;
}

.closeBtn:hover {
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
  transform: translate(-4px, 4px);
}

.deleteBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  background: #ff3e4e;
  transition: all 0.25s ease;
}

.deleteBtn:hover {
  box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
  transform: translateY(-5px);
  background: #ff3e4e;
}

.cancelBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  border-radius: 12px;
  font-size: 0.8rem;
  border: none;
  color: #2c3e50;
  background: #fcfcfc;
  transition: all 0.25s ease;
}

.cancelBtn:hover {
  box-shadow: none;
  transform: none;
  background: whitesmoke;
}
